default_language_version:
    python: python3.11
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.2.0
  hooks:
  - id: check-yaml
    exclude: '\.*conda/.*'
  - id: check-case-conflict
  - id: check-merge-conflict
  - id: detect-private-key
  - id: debug-statements
  - id: check-added-large-files
  - id: end-of-file-fixer
  - id: trailing-whitespace

- repo: https://github.com/igorshubovych/markdownlint-cli
  rev: v0.26.0
  hooks:
    - id: markdownlint
      args: ["--config", ".markdownlint.json"]

- repo: https://github.com/PyCQA/flake8
  rev: '5.0.4'
  hooks:
    - id: flake8
      additional_dependencies: [flake8-bugbear, flake8-quotes]

- repo: local
  hooks:
    - id: hadolint-docker
      name: Lint Dockerfiles
      description: Runs hadolint Docker image to lint Dockerfiles
      language: docker_image
      types: ["dockerfile"]
      entry: hadolint/hadolint:v2.8.0 hadolint

# Static type analysis (as much as it's possible in python using type hints)
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: 'v0.960'
  hooks:
  - id: mypy
    args: [--pretty, --show-error-codes, --install-types, --non-interactive]
