name: Deploy images and config
on:
  push:
#    branches:
#      - main
#    paths:
#      - 'images.toml'

env:
  PROJECT: 'cpg-common'
  CONFIG_DESTINATION: 'gs://cpg-config/templates/images/images.toml'
  DOCKER_PREFIX: 'australia-southeast1-docker.pkg.dev'
  IMAGES_PREFIX: 'australia-southeast1-docker.pkg.dev/cpg-common/images'

jobs:
  make_matrix:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set_matrix.outputs.matrix }}
    steps:
      - name: "Checkout repo"
        uses: actions/checkout@v2

      - name: "Checkout ref before change"
        uses: actions/checkout@v2
        with:
          ref: ${{ github.event.before }}
          path: 'before'

      - uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: "Set matrix"
        id: set_matrix
        run: |
          pip install toml
          echo "matrix=$(python .github/workflows/prep_matrix.py)" >> $GITHUB_OUTPUT

  deploy_images:
    runs-on: ubuntu-latest
    needs:
      - make_matrix
    if: ${{ needs.make_matrix.outputs.matrix != '' }}
    strategy:
      matrix: ${{ fromJson(needs.make_matrix.outputs.matrix) }}
    env:
      DOCKER_BUILDKIT: 1
      BUILDKIT_PROGRESS: plain
      CLOUDSDK_CORE_DISABLE_PROMPTS: 1
    steps:
      - name: "checkout repo"
        uses: actions/checkout@v2

      - name: "gcloud setup"
        uses: google-github-actions/setup-gcloud@v0
        with:
          project_id: cpg-common
          service_account_key: ${{ secrets.GCP_SERVER_DEPLOY_KEY }}

      - name: "gcloud docker auth"
        run: |
          gcloud auth configure-docker ${{ env.DOCKER_PREFIX }}

      - name: "build image"
        run: |
          docker build \
          --build-arg VERSION=${{ matrix.tag }} \
          --tag ${{ env.IMAGES_PREFIX }}/${{ matrix.name }}:${{ matrix.tag }} \
          images/${{ matrix.name }}

      - name: "push image"
        run: |
          docker push "${{ env.IMAGES_PREFIX }}/${{ matrix.name }}:${{ matrix.tag }}"

  deploy_config:
    runs-on: ubuntu-latest
    needs:
      - deploy_images
    env:
      CLOUDSDK_CORE_DISABLE_PROMPTS: 1
    steps:
      - name: "checkout repo"
        uses: actions/checkout@v2

      - name: "gcloud setup"
        uses: google-github-actions/setup-gcloud@v0
        with:
          project_id:  ${{ env.PROJECT }}
          service_account_key: ${{ secrets.GCP_SERVER_DEPLOY_KEY }}

      - uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: "prepare config"
        run: |
          pip install toml
          python .github/workflows/prep_config.py > config.toml

      - name: "deploy config toml"
        run: |
          gcloud storage cp config.toml ${{ env.CONFIG_DESTINATION }}
