name: Deploy container
on:
  workflow_dispatch:
    inputs:
      image_name:
        description: "Name of image, same as the directory name"
        required: true
      image_tag:
        description: "Tag of image"
        required: true
      docker_cli_args:
        description: "Extra docker CLI params"
        required: false

jobs:
  deployImage:
    runs-on: ubuntu-latest

    env:
      DOCKER_BUILDKIT: 1
      BUILDKIT_PROGRESS: plain
      CLOUDSDK_CORE_DISABLE_PROMPTS: 1
      DOCKER_IMAGE: australia-southeast1-docker.pkg.dev/cpg-common/images/${{ github.event.inputs.image_name }}:${{ github.event.inputs.image_tag }}
      IMAGE_NAME: ${{ github.event.inputs.image_name }}
      IMAGE_TAG: ${{ github.event.inputs.image_tag }}

    steps:
      - name: "Restrict to main"
        if: github.ref != 'refs/heads/main'
        run: exit 1

      - name: "checkout repo"
        uses: actions/checkout@v3

      - name: "gcloud setup"
        uses: google-github-actions/setup-gcloud@v0
        with:
          project_id: analysis-runner
          service_account_key: ${{ secrets.GCP_SERVER_DEPLOY_KEY }}

      - name: "gcloud docker auth"
        run: |
          gcloud auth configure-docker australia-southeast1-docker.pkg.dev

      - name: "build image"
        run: |
          docker build \
            ${{ inputs.docker_cli_args }} \
            --build-arg VERSION=$IMAGE_TAG \
            --tag $DOCKER_IMAGE \
            images/$IMAGE_NAME

      - name: "push image"
        run: |
          docker push $DOCKER_IMAGE
